.logout-button{
	float: right;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
}

.add-button{
	float: left;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

#btn-cadastrar-perfil{
	color: gray;
}

#btn-cadastrar-perfil:hover{
	color: blue;
}

#btn-logout{
	color: gray;
}

#btn-logout:hover{
	color: darkgreen;
}

.ui-dialog-content table tbody tr {
    border: transparent;
}

.ui-fileupload-filename{
	font-size: 0.8rem;
}

.rem-button{
	float: right;
    margin-top: -40px;
    color: gray;
}

.rem-button:hover{
	color: red;
}

.block-button{
	float: left;
    margin-top: -40px !important;
    color: gray;
}

.block-button:hover{
	color: red !important;
}

.unblock-button{
	float: left;
    margin-top: -40px !important;
    color: red !important;
}

.unblock-button:hover{
	color: gray !important;
}

.upd-button{
	float: right;
    margin-top: -40px;
    margin-right: 2rem;
    color: gray;
}

.upd-button:hover{
	color: green;
}

.perfil-image{
	width: 7em !important;
    height: 7em !important;
}

.no-background{
	background-color: transparent;
	border: none !important;
	box-shadow: none !important;
}